<html>
 <head>
  <style>
    body {
      background-color: #cccccc;
    }

    input {
      width: 100%;
    }
    
    input[type=button]{
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
    }

    a {
      color: red;
    }
    
  </style>
 </head>
 <body>
  <div style='padding: 50px;background-color: lightblue;'>
    <h1 style='font-size: 30px;text-align: center;margin-top: 100px';>Bravo Marija</h1>
  </div>
  
  <form>
   <label for="fname">Ime</label>
   <input type="text" id="fname" name="fname">
  </form>
    
  <input type="button" value="Submit">
   <p><b><a href="{{ path('homepage') }}">Homepage</a></b></p>
 </body>
</html>